.logo {
    width: 90px;
}

body {
    background-color: #F6F6F6;
}

/* nav bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(34, 32, 32);
    font-size: 22px;
    font-family: "Poppins";
}

nav ul li:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 5px;
}

nav ul a {
    color: #2F2F2F;
    text-decoration: none;
}

/* all section */

section {
    padding: 5%;
    margin: 20px 0;
}

h1 {
    font-family: "Poppins";
    font-weight: normal;
}

h2 {
    font-family: "Poppins";
    color: #5FB0B7;
    font-weight:normal;
}

h3 {
    font-family: "Poppins";
    font-weight: normal;
}

p {
    font-family: Inter;
    font-weight: 400;
    font-size: 21px;
}

/* bio */

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.profile img {
    border: 2px dashed #2F2F2F;
    border-radius: 30px;
    width: 300px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile .bio h1 {
    margin: 0;
    color: #00A2A2;
    padding-left: 10%;
    padding-bottom: 5%;
}

.profile .bio p {
    width: 600px;
    padding-left: 10%;
}

/* tools */

section#tools .tools-list {
    display: flex;
    gap: 20px;
    background-color: #A7D7C5;
    border-radius: 30px;
    height: 250px;
    justify-content: center;
}

.tools-list .tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px;
    justify-content: center;
}

.tools-list .tool img {
    width: 90px;
    height: 90px;
}

.tools-list p {
    font-weight: 500;
}

/* extras */

.hobbies {
    display: flex;
    justify-content: space-between;
    /* gap: 200px; */
    width: 100%;
}

.hobbies .hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies .hobby h3{
    text-align: left;
}

.hobbies .hobby p {
    width: 258px;
}

.hobbies .hobby img {
    border-radius: 30px;
    width: 250px;
    height: 280px;
    flex-shrink: 0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

#extras h3{
    display: flex;
    font-weight: 500;
    color: #2F2F2F;
}

/* footer */

footer {
    padding: 20px 50px;
}

footer .line {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 10 20px;
    padding-left: 145px;
}

.footer-section h3 {
    font-family: "Poppins";
    font-weight: bold;
    margin-bottom: 10px;
    color: #2F2F2F;
}

.footer-section p {
    font-family: "Inter";
    margin: 0;
}

.footer-section .social-icons {
    display: flex;
    gap: 10px;
}

.footer-section .socials {
    width: 40px;
    height: 40px;
}