.logo {
    width: 90px;
}

/* nav bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(34, 32, 32);
    font-size: 22px;
    font-family: "Poppins";
}

nav ul li:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 5px;
}

nav ul a {
    color: black;
    text-decoration: none;
}

.projects {
    margin-bottom: 40px;
}

.projects h2 {
    color: #008080;
    border-bottom: 2px solid #000;
    display: inline-block;
    margin-bottom: 20px;
}

.project {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 40px;
    text-align: center;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin: 10px 0 5px 0;
    font-size: 18px;
}

.project p {
    color: #666;
    font-size: 14px;
}
